/************************************

::::: TABLE OF CONTENTS :::::
 
1. miscellaneous
2. columns
3. links
4. headings
5. paragraph
6. logo
7. top
8. navigation
9. flex slider
10. heading
11. content_wp
12. newsletter
13. social
14. testimonials
15. footer
16. twitter
17. get in touch
18. copyright
19. video wrapper
20. sidebars
21. content
22. 404
23. sitemap
24. member img
25. portfolio
26. blog
27. tabs
28. jquery toggle
29. typography
30. typography lists
31. highlight types
32. info/success/error boxes
33. contactform
34. pricing table

************************************/

@charset "utf-8";
@import url("reset.css");

body {
	background: #fff;
	font-family: 'Ubuntu', sans-serif;
	color: #777;
	font-size:13px;
	line-height:25px;
}

/* 1. miscellaneous */
.wrap {
	width:960px;
	margin:0 auto;
	position:relative;
}
.clear {
	clear:both;
}
.alignleft {
	float:left;
	text-align:left;
}
.alignright {
	float:right;
	text-align:right;
}
.space {
	padding:30px 0;
}
.space2 {
	padding:20px 0;
}
.space3 {
	padding:5px 0;
}
.tinynav { display:none; }
.image-holder {
	border:5px solid #ddd;
	padding:3px;
	margin-bottom:10px;
}
.image-holder_left {
	border:5px solid #ddd;
	padding:3px;
	margin:0 20px 20px 0;
}
.image-holder_right {
	border:5px solid #ddd;
	padding:3px;
	margin:0 0 20px 20px;
}
.nomargin {
	margin:0 !important;
}
.divider {
	background: url("../images/divider.png") repeat-x;
	height:8px;
	width:100%;
	margin:50px 0;
}
span.dropcap {
	font-size:50px;
	line-height: 1;
	padding-right:10px;
	float: left;
	display: block;
}
p.mbox {
	text-shadow:none;
	margin:10px 0;
	padding:10px 0;
}
.img {
	opacity:1;
	-webkit-transition:opacity 350ms ease-in;
	-o-transition:opacity 350ms ease-in;
	-moz-transition:opacity 350ms ease-in;
}
.img:hover {
	opacity:0.8;
}
ul li {
	font-family: 'Lato', sans-serif;
	font-size:14px;
}

/* 2. columns */
.one_half {
	float:left;
	width:47%;
	margin:0 6% 0 0;
}
.one_third {
	width:30%;
	float:left;
	margin-right:5%;
}
.two_thirds {
	float:left;
	width:65%;
	margin:0 5% 0 0;
}
.one_fourth {
	width:23%;
	float:left;
	margin-right:2.6%;
}
.one_fifth {
	float:left;
	width:18%;
	margin:0 2.5% 0 0;
}
.last {
	margin-right: 0 !important;
}

/* 3. links */
a {
	color: #49e53d;
	text-decoration:none;
	
	-webkit-transition:all 200ms ease-in;
	-o-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
}
a:hover {
	color: #444;
	text-decoration:none;
}

/* 4. headings */
h1 {
	font-size:21px;
}
h2 {
	font-size:19px;
}
h3 {
	font-size:17px;
}
h4 {
	font-size:15px;
}
h5 {
	font-size:14px;
}
h6 {
	font-size:13px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', Arial,Helvetica,sans-serif;
	color: #444;
	font-weight:bold;
	margin:0px 0 5px 0;
}

/* 5. paragraph */
p {
	font-family: 'Ubuntu', sans-serif;
	font-size:13px;
	line-height:25px;
	margin:0 0 10px 0;
	text-shadow:none;
	color: #777;
}

/* 6. logo */
#logo {
	height:40px;
	background:none;
	border:none;
	float:left;
	position:relative;
	margin-top:35px;
}

/* 7. top */
#top {
	background: #0c6c05 url("../images/green.png") no-repeat top center;
	border-top:5px solid #095103;
	border-bottom:5px solid #095103;
	width:100%;
	position:relative;
}
#top_bottom {
	background: #fff;
	height:100px;
	width:1060px;
	border-top:5px solid #095103;
	border-left:5px solid #095103;
	border-right:5px solid #095103;
	margin:0 auto -5px auto;
}

/* 8. navigation */
#nav {
	float:right;
	width:auto;
	padding:0;
	margin:-5px 0 0 0;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#nav ul {
	float:right;
	display:inline-block;
	position:relative;
}
#nav ul li {
	float:left;
}
#nav ul li span {
	text-transform:lowercase;
	color: #49e53d;
	line-height:10px;
}
#nav ul li a:hover span {
	color: #49e53d;
}
#nav ul li a {
	padding:30px 30px 35px 30px;
	font-size:14px;
	border-top:5px solid transparent;
	font-family: 'Ubuntu', sans-serif;
	text-transform:uppercase;
	display:block;
	text-shadow: 1px 1px 0 #0c6c05;
	color: #fff;
	
	-webkit-transition:all 350ms ease-in;
	-o-transition:all 350ms ease-in;
	-moz-transition:all 350ms ease-in;
}
#nav > ul > li:hover a {
	color: #fff;
	border-top:5px solid transparent;
}
#nav ul li a:hover {
	color: #fff;
	border-top:5px solid transparent;
}
#nav ul li a.selected {
	color: #fff;
}

#nav ul ul {
	position: absolute;
	background:#095103;
	top:105px;
	display:block;
	z-index:999999;
	border-left:none !important;
}
#nav ul ul li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
#nav ul ul li {
	float: none;
	display: list-item;
	width:100%;
	margin:0;
	border-right:none !important;
	border-left:none !important;
	text-align:left;
	border-bottom:1px solid #0c5c05;
}
#nav ul ul a {
	display:block;
	position:relative;
	text-shadow:none;
	width:auto;
	margin:0px 0 0 0;
	border-top:none !important;
	border-right:none !important;
	border-left:none !important;
	text-decoration:none;
	font-size:11px;
	color:#49e53d !important;
	padding: 7px 30px;
	
	-webkit-transition:none;
	-o-transition:none;
	-moz-transition:none;
}
#nav ul ul a:hover {
	background: #0c5c05;
	color: #fff !important;
}

/* breadcrumbs */
#breadcrumbs {
	width:100%;
	padding:10px 0 25px 0;
	overflow: hidden;
	margin:-75px auto -30px auto;
}
#breadcrumbs .wrap {
	background: url("../images/divider.png") repeat-x bottom;
	padding-bottom:40px;
}
#breadcrumbs h1 {
	color: #444;
	margin:0;
	text-transform:uppercase;
}
#breadcrumbs p {
	color: #777;
	margin:0;
	padding-left:20px;
}

/* search box */
.search-text {
	width: 11px;
	height:20px;
	border: none;
	color:transparent;
	padding: 11px 0px 9px 0;
	margin-left:17px;
	margin-top:32px;
	border-top:1px solid transparent;
	border-bottom:1px solid transparent;
	background: url("../images/search.png") no-repeat left;
	cursor: pointer;
	-moz-transition: 0.4s width ease;
	-webkit-transition-duration: 0.4s;
	-webkit-transition-property: width;
	-webkit-transition-timing-function: ease;
	-o-transition-duration: 0.4s;
	-o-transition-property: width;
	-o-transition-timing-function: ease;
}
.search-text:focus {
	padding: 11px 0px 9px 20px;
	width: 90px;
	border: none;
	cursor: text;
	font: inherit;
	color: #49e53d;
	outline-width: 0;
}

/* 9. flexslider */
.flexslider_wrapper {
	width:100%;
	padding:50px 0 50px 0;
	overflow: hidden;
	background: transparent;
	margin:-100px auto 0px auto;
}
.slide-text {
	color: #fff;
	background: #000;
	display:block;
	position:absolute;
	bottom:30px;
	left:30px;
	width:300px;
	padding:20px 20px 10px 20px;
	opacity:0.8;
}
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none; margin:0 auto; overflow:hidden; }
.slides,
.flex-control-nav,
.flex-direction-nav { width:100%;margin: 0 auto; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; position:relative; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; margin:0 auto; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0 auto; background: transparent; border:5px solid #ddd; padding:3px; position: relative; }
.flexslider_divider {background: url("../images/divider.png") repeat-x;height:8px;width:100%;margin:-50px 0 50px 0;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -34px; text-align: center;}
.flex-control-nav li { display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {
	display:block;
    width:10px;
    height:10px;
    background:url("../images/slider/bullets_green.png") no-repeat;
    text-indent:-9999px;
    border:0;
    margin-right:7px;
	cursor:pointer;
    float:left; 
}
.flex-control-paging li a:hover {
    margin-right:7px;
}
.flex-control-paging li a.flex-active { 
	display:block;
    width:10px;
    height:10px;
    text-indent:-9999px;
    border:0;
    margin-right:7px;
    float:left; 
	background-image:url("../images/slider/bullets.png") no-repeat; 
	background-position:0 -10px;  
}
.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1; }
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}

/* 10. heading */
.heading p {
	margin:20px 0;
	text-align:center !important;
}
.heading h1 {
	text-align:center !important;
}
.heading a.button-black span {
	margin:0 auto !important;
	text-align:center !important;
}
#slides, #slides2 {
	position:relative;
}
.slides_container {
	width:960px;
	display:none;
}
.slides_container div {
	width:960px;
	height:110px;
	display:block;
	padding-top:60px;
}
#slides2 .slides_container {
	width:960px;
	display:none;
}
#slides2 .slides_container div {
	width:960px;
	height:130px;
	display:block;
	padding-top:70px;
}
#slides .next, #slides .prev {
	position:absolute;
	top:0;
	left:44.6%;
	width:25px;
	height:42px;
	display:block;
	z-index:101;
	color:transparent;
	-webkit-transition:all 250ms ease-in;
	-o-transition:all 250ms ease-in;
	-moz-transition:all 250ms ease-in;
}
.prev {
	margin-right:70px;
	background: url("../images/prev.png") no-repeat;
}
.prev:hover {
	background: url("../images/prev_hover.png") no-repeat;
}
.next {
	margin-left:70px;
	background: url("../images/next.png") no-repeat;
}
.next:hover {
	background: url("../images/next_hover.png") no-repeat;
}

#slides2 .next, #slides2 .prev {
	position:absolute;
	top:0px;
	left:44.6%;
	width:25px;
	height:42px;
	display:block;
	z-index:101;
	color:transparent;
	-webkit-transition:all 250ms ease-in;
	-o-transition:all 250ms ease-in;
	-moz-transition:all 250ms ease-in;
}

/* 11. content misc */
#content_wp {
	padding:60px 0;
	margin:0 0 -100px 0;
}

.homepage-p {
	display:block;
}
.homepage-p h3 {
	margin:20px auto 5px auto;
	text-align:center;
	-webkit-transition:all 250ms ease-in;
	-o-transition:all 250ms ease-in;
	-moz-transition:all 250ms ease-in;
}
.homepage-p:hover h3 {
	color: #49e53d;
}
.homepage-p p {
	margin:0 auto;
	text-align:center;
}
.homepage-p img {
	margin:0 auto !important;
	display:block;
}

/* recent news */
.recent_details_heading {
	text-align:center !important;
	font-family: 'Lato', Arial,Helvetica,sans-serif;
	color: #444;
	font-weight:bold;
	margin:0px auto 5px auto !important;
	font-size:17px;
}
.recent_details_heading a {
	color: #444;
}
.recent_details_heading a:hover {
	color: #49e53d;
}
.recent_details_p {
	text-align:center;
	font-family: 'Ubuntu', sans-serif;
	font-size:13px;
	line-height:25px;
	margin:0 0 10px 0;
	text-shadow:none;
	color: #777;
	width:100%;
	float:left;
}
.recent {
	text-align:center;
}
.recent_details {
	-webkit-transition:all 250ms ease-in;
	-o-transition:all 250ms ease-in;
	-moz-transition:all 250ms ease-in;
}
.recent:hover .recent_details_heading a {
	color: #49e53d;
}

/* 12. newsletter */
#newsletter {
	width:100%;
	height:33px;
	background: #fff;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
#newsletter input {
	display:block;
	background: transparent;
	border:none;
	color: #777;
	float:left;
	width:55%;
	padding:8px 10px;
	font-family:inherit;
	margin:1px auto 0 auto;
}
a.button-newsletter span {
	background: #10323e;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-transition:all 200ms ease-in;
	-o-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
	
	text-decoration:none;
	color: #fff;
	display:inline-block;
	font-family:inherit;
	font-size:12px;
	float:right;
	font-weight:normal !important;
	margin:1px 1px 0 1px;
	padding:3px 20px;
	text-align:center;
	text-decoration:none;
}
a.button-newsletter span:hover {
	background: #050505;
}

/* 13. social */
.social {
	margin-top:30px;
}
.social li img {
	float:left;
	margin-right:10px;
	margin-bottom:10px;
	opacity: 0.5;
	
	-webkit-transition:all 200ms ease-in;
	-o-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
}
.social li img:hover {
	opacity: 1;
}

/* 14. testimonials */
.testimonials_img {
	background: url("../images/quote.png") no-repeat top left;
	float:left;
	display:block;
	width:59px;
	height:44px;
	margin-top:5px;
}
.testimonials blockquote {
	display:block;
	padding-left:70px;
	width:auto;
	margin:0;
}
.testimonials blockquote p {
	margin:0;
}
.testimonials cite {
	font-weight:bold;
	float:left;
	padding-left:20px;
	margin-top:-20px;
}

/* 15. footer */
#footer {
	background: #0c6c05 url("../images/green.png") no-repeat top center;
	border-top:5px solid #095103;
	border-bottom:5px solid #095103;
	padding:0 0 40px 0;
	width:100%;
	color:#49e53d;
	text-shadow: 1px 1px 0 #0c6c05;
}
#footer_top {
	background: #fff;
	height:100px;
	width:1060px;
	border-bottom:5px solid #095103;
	border-left:5px solid #095103;
	border-right:5px solid #095103;
	margin:-5px auto 40px auto;
}
#footer p {
	color: #49e53d;
	text-shadow: 1px 1px 0 #0c6c05;
}
#footer h3 {
	color: #eee;
	z-index:99999;
	font-weight:bold;
	padding:0 0 5px 0;
	margin-bottom:20px;
	border-bottom:5px solid #095103;
}
#footer a {
	color: #ddd;
}
#footer a:hover {
	color: #eee;
}

/* 16. twitter */
.tweet,
.query {
	color: #eee;
	margin-bottom:-30px;
}
.tweet_list {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow-y: hidden;
}
.tweet_list li {
	overflow-y: auto;
	overflow-x: hidden;
	list-style-type: none;
	color: #49e53d;
	padding-bottom:10px;
	margin-bottom:30px;
}	
.tweet_list li a {		
	color: #49e53d;
}
.tweet_list .tweet_avatar {
	display:none;
}
.tweet_list .tweet_avatar img {
	vertical-align: middle;
}
.tweet_text {
	background: url("../images/bird.png") left center no-repeat;
	display:block;
	padding-left:35px;
}
.tweet_time {
	display:block;
	float:right;
	width:100%;
	text-align:right;
	color: #49e53d;
}
.tweet_time a {
	color: #49e53d !important;
}
.tweet_time a:hover {
	color: #eee !important;
}

/* 17. get in touch */
#get-in-touch p {
	padding-bottom:10px;
	color:#49e53d;
	width:100%;
}
#get-in-touch span {
	color: #eee;
}
#get-in-touch a {
	color:#49e53d;
}

/* 18. copyright */
#copyright {
	background: #0c6c05;
	width:100%;
}
#copyright p {
	padding:10px 10px;
	text-shadow: 1px 1px 0 #0c6c05;
	font-size:14px;
	margin:0;
	color: #49e53d;
}
#copyright a {
	color: #eee;
}
#copyright a:hover {
	color: #eee;
}

/* 19. video wrapper */
#video_wrapper {
	overflow: hidden;
	width:100%;
	padding:0px 0 50px 0;
	overflow: hidden;
	background: #fff;
	margin:-50px auto 0px auto;
}
#video_wrapper .wrap {
	display:table;
	margin-bottom:-50px;
	padding-bottom:50px;
}
#video_wrapper_left {
	float:left;
	width:600px;
	margin-right:30px;
	position:relative;
	border:5px solid #ddd;
	padding:3px;
}
#video_wrapper_right {
	float:right;
	width:600px;
	margin-left:30px;
	border:5px solid #ddd;
	padding:3px;
}
#text_wrapper_left {
	display: table-cell;
	vertical-align: middle;
}
#text_wrapper_right {
	display: table-cell;
	vertical-align: middle;
}
#text_wrapper_left p,
#text_wrapper_right p {
	color: #777;
	margin:20px 0;
}
#text_wrapper_left ul li,
#text_wrapper_right ul li {
	color: #777;
}
#text_wrapper_left h1,
#text_wrapper_right h1 {
	color: #444 !important;
}

/* 20. sidebars */
#sidebar_left {
	float:left;
	width:250px;
	background:url("../images/divider-sidebar.png") right repeat-y;
}
#sidebar_right {
	float:right;
	width:250px;
	background:url("../images/divider-sidebar.png") left repeat-y;
}

#sidebar_left .sidebar_area {
	width:220px;
	float:left;
	background:url("../images/divider.png") bottom repeat-x;
	padding-bottom:30px;
}
#sidebar_right .sidebar_area {
	width:220px;
	float:right;
	background:url("../images/divider.png") bottom repeat-x;
	padding-bottom:30px;
}

.sidebar_area h3 {
	text-transform:uppercase;
	font-size:13px;
}
.sidebar_area_nav {
	width:100%;
}
.sidebar_area_nav li {
	border-bottom:1px dashed #ddd;
	padding:3px 0;
}
.sidebar_area_nav li a {
	float:left;
	display:block;
	padding-right:10px;
}

#tags li {
	float:left;
	margin-right:20px;
	border-bottom:1px dashed #ddd;
}

/* 21. content */
#content_left {
	float:left;
	width:660px;
}
#content_right {
	float:right;
	width:660px;
}

/* 22. 404 */
#pagenotfound1 {
	font-size:70px;
	padding-top:20px;
	font-weight:bold;
	color: #444;
}
#pagenotfound2 {
	font-size:14px;
	padding:5px 0 0 0;
	text-transform:uppercase;
	font-weight:bold;
	color: #444;
}
input#search-404 {
	background: #fff;
	border:none;
	border-top:1px solid #ddd;
	border:1px solid #ddd;
	padding:9px 30px;
	color: #aaa;
}

/* 23. sitemap */
.sitemap a {
}
.sitemap-heading {
	font-family: 'Lato', Arial,Helvetica,sans-serif;
	color: #444;
	font-weight:bold;
	font-size:17px;
	padding-bottom:10px;
}

/* 24. member img */
.member-img {
	background:transparent;
	border:5px solid #ddd;
	padding:3px;
	margin-right:20px;
}
.member-name {
	font-weight:bold;
	font-size:15px;
	text-transform:uppercase;
	margin-top:15px;
}
.member-role {
	font-size:12px;
}

/* 25. portfolio */
.portfolio1_wrapper {
	position:relative;
	display: table;
}
.portfolio-list {
	list-style: url("../images/list1.png") inside;
}
.portfolio1_text {
	display: table-cell;
	vertical-align: middle;
}

#portfolio-nav li {
	margin-right:10px;
	float:left;
}
#portfolio-nav li a {
	color: #777;
	border: 5px solid #ddd;
	padding:3px 10px;
	display:inline-block;
	width:auto;
	
	-webkit-transition:all 200ms ease-in;
	-o-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
}
#portfolio-nav li a:hover {
	border: 5px solid #777;
	padding:3px 10px;
	color: #777;
}
a.portfolio-nav-selected {
	border: 5px solid #777 !important;
	padding:3px 10px !important;
	color: #777 !important;
}
a.portfolio-nav-selected:hover {
	border: 5px solid #777 !important;
	padding:3px 10px !important;
	color: #777 !important;
}

/* 26. blog */
.blog-post h3 {
	padding:0 0 10px 0;
	margin:0;
}
.blog-post-info {
	width:200px;
	float:left;
}
.blog-post-text {
	width:420px;
	float:right;
}
.blog-post-info img {
	padding-right:5px;
	margin-top:3px;
}
.blog-post-info li {
	font-size:11px;
	border-bottom:1px dashed #ddd;
	padding:3px;
	width:100%;
	margin-right:50px;
	float:left;
}

.comment-body {
	width:510px;
	padding-left:40px;
	background: url("../images/comment-img.png") no-repeat;
	float:right;
}
.comment-info {
	border-bottom:1px solid #dedede;
	margin-bottom:20px;
}

p.comment-name {
	float:left;
	margin:0;
}
p.comment-reply {
	float:right;
	margin:0;
}

#reply input {
	background: transparent;
	border: 5px solid #ddd;
	padding:10px 20px;
	float:left;
	color: #777;
	width:275px;
	margin:0 10px 0 0;
	text-align:left;
}
#reply textarea {
	width:609px;
	margin:10px 0;
}

/* 27. tabs */
.tabcontainer {
	margin:0px 0px 0px 0px; 
}
ul.tabs {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	list-style: none;
	height: 29px;
	width: 100%;
	
	border-bottom:3px solid #ddd;

}
ul.tabs li {
	float: left;
	margin: 0 1px 0 0;
	padding: 0;
	height: 29px;
	overflow: hidden;
	position: relative;
	font-size:11px;
	
	border-bottom:3px solid #ddd;
	
	font-family: inherit;
	font-size:13px;
	
	-webkit-transition:all 200ms ease-in;
	-o-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
}
ul.tabs li:hover {
	border-bottom:3px solid #777;
}
ul.tabs li a {
	text-decoration: none;
	display: block;
	padding: 0 15px;
	outline: none;
	color: #777;
}
ul.tabs li a:hover {
	text-decoration:none;
	padding-bottom:1px;
	background:none;
}
ul.tabs li.active {
	border-bottom:3px solid #777;
}
.tab-content {
	padding: 15px 0 0 0;
	margin-top:0px;
}
.tab-content p {
	margin-bottom:10px;
}

/* 28. jquery toggle */
p.trigger {
	padding: 7px 0px;
	margin: 0 0 0px 0;
	width:auto;
	font-weight: normal;
	border-top:0px;
}
p.trigger span {
	text-decoration: none;
	display: block;
	padding-left:25px;
	line-height:normal;
	background: url("../images/open.png") no-repeat left center;
	cursor:pointer;
}
p.active span{
	background: url("../images/close.png") no-repeat left center !important;
}
p.trigger a:hover {
	color: #454545;
}
.toggle_container {
	margin: 10px 0 10px 25px;
	padding: 0;
	overflow: hidden;
	clear: both;
	
	background: #fff;
	border: 1px solid #ddd;
}
.toggle_container .block {
	padding: 0px;
}
.toggle_container .block p {
	padding: 10px 20px;
	margin:0;
}

/* 29. typography */
table.demotable {
	width:100%;
	font-size:11px;
	border:0;
}
.demotable tr th {
	background:#0c6c05;
	border-top:5px solid #095103;
	border-bottom:5px solid #095103;
	color: #fff;
	padding:10px 0;
	font-size:13px;
}
.demotable tr td{
	background:#eee;
	padding:6px 0;
	text-align:center;
	border-bottom:1px solid #fff;
}
.demotable tr:hover td{
	background:#ddd;
}

/* 30. typography lists */

.list img {
	padding-right:10px;
	margin-bottom:-2px;
}

/* 31. highlight types */
.highlight1 {
	padding:2px 5px;
	text-shadow:none;
	background: #fff;
	color: #333;
	border:1px solid #e5e5e5;
}
.highlight2 {
	padding:2px 5px;
	text-shadow:none;
	background: #555;
	color: #eee;
	border:1px solid #222;
}

/* 32. info/success/error boxes */
.info {
	background: #b5e1ff;
	color: #2f9de8;
	width:100%;
	margin:1px;
	display:block;
	padding:10px;
	text-align:center;
	border-top:2px solid #7cc9ff;
	border-bottom:2px solid #7cc9ff;
}
.success {
	color:#6baf3c;
	float:left;
}
.success2 {
	background: #d6f1c3;
	color:#6baf3c;
	width:100%;
	margin:1px;
	display:block;
	padding:10px;
	text-align:center;
	border-top:2px solid #c0e4a7;
	border-bottom:2px solid #c0e4a7;
}
.error2 {
	background: #ffb3b3;
	color:#d65151;
	width:100%;
	margin:1px;
	display:block;
	padding:10px;
	text-align:center;
	border-top:2px solid #fe7878;
	border-bottom:2px solid #fe7878;
}
.error {
	color:#d65151;
	margin-left:200px;
	float:right;
}

/* 33. contact form */
#contactform table tr td span {
	text-align:right;
	float:right;
	padding:10px 20px 0 0;
}
input.button-contact {
	color: #fff;
	background: #34342c;
	border:none;
	cursor:pointer;
	display:inline-block;
	width:auto;
	float:right;
	margin:10px 0 0 10px;
	padding:7px 20px;
	font-size:13px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-transition:all 200ms ease-in;
	-o-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
}
input.button-contact:hover {
	background: #050505;
	color: #fff;
}
#name {
	background: transparent;
	border: 5px solid #ddd;
	padding:10px 20px;
	width:450px;
	float:right;
	text-align:left;
	margin:5px 0;
	color: #777;
}
#email {
	background: transparent;
	border: 5px solid #ddd;
	padding:10px 20px;
	float:right;
	color: #777;
	width:450px;
	margin:5px 0;
	text-align:left;
}
#message {
	background: transparent;
	border: 5px solid #ddd;
	padding:10px 20px;
	color: #777;
	font-family:inherit;
	float:right;
	width:618px;
	text-align:left;
	margin:5px 0;
}

/* 34. pricing table */
.pricing {
	width:960px;
}
.plan3 {
	border-right:1px solid #eee;
	width:309px;
	float:left;
	margin:0px 0 10px 10px !important;
}
.plan4 {
	border-right:1px solid #eee;
	width:229px;
	float:left;
	margin:0px 0 10px 10px;
}
.plan5 {
	border-right:1px solid #eee;
	width:181px;
	float:left;
	margin:0px 0 10px 10px;
}
.plan-last {
	margin-right: 0 !important;
	border-right:none;
}
.plan-title {
	font-size: 24px;
	margin:10px 0 0 -10px;
	font-family: 'Lato', Arial,Helvetica,sans-serif;
	color: #444;
	font-weight:bold;
	text-align:center;
}
.plan-list {
	margin:20px 0 20px 10px;
	width:88%;
}
.plan-list li {
	border-bottom:1px solid #eee;
	line-height:30px;
	text-align:center;
}
.plan-list img {
	padding-right:10px;
}
.plan-list li.plan-list-first {
	border-top:1px solid #eee;
}