

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
  margin-top: 10px;
}
#logo{
  margin-left: 270px;
}
.article_cover{
  height: 111px;
  width: 160px;
}
.author_info{
	width: 220px;
	background-color: #eeeeee;
	border-right: 1px solid black;
}
.center{
	float:left;
  margin-right: 100px;
}

.blog{
  font-size: 12px;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.blog h1{
	text-align: center;
}
.blog header{
	margin: auto auto;
	text-align: center;
}
.blog p{
	font-size: 14px;
	text-align: justify;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	
}

.red{
	background-color: red;
	width: 31.914893617021%;
}
.text{
	font-size: 14px;

}
.container-fluid > .sidebar-left {
  float: left;
  width: 220px;
}

.container-fluid > .sidebar-right {
  float: right;
  width: 220px;
}

.navbutton{
  display: block;
  float: left;
}
.gallery{
  margin: auto auto;
}


/* #Footer
================================================== */
footer {
  margin-top: 10px;
  padding-top: 20px;
  background: #222;
  color: #adadad;
}
footer h3 {
  color: #fff;
}
footer p {
  font-size: 12px;
  color: #adadad;
}
footer .widget.list ul {
  margin: 0;
  padding: 0;
}
footer .widget.list ul li {
  margin: 0;
  list-style: none;
  margin-bottom: 8px;
  background: url('../img/ul-arrow.png') left 5px no-repeat;
  padding-left: 15px;
}
footer .widget.list ul li a {
  color: #eee;
  font-weight: 400;
  font-size: 13px;
  text-decoration: none;
}
footer .widget.list ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
footer .twitter ul {
  display: none;
  padding: 0;
  margin: 0;
}
footer .twitter ul li {
  background: url('../img/tweet.png') no-repeat 0 5px;
  padding-left: 30px;
  list-style: none;
  color: #aaa;
  font-size: 0.85em;  
  line-height: 1.3;
  margin-bottom: 15px;
}
footer .twitter ul li a {
  color: #eee;
}
footer .twitter ul li span a {
  color: #888;
  display: block;
}
footer .twitter ul li.retweet {
  background: url('../img/retweet.png') no-repeat 0 5px;
}
footer .fb {
  background: #2a2a2a;
}
footer .fb .social-buttons{
  margin-top: 5px;
  text-align: center;
}
footer .fb .social-buttons a {
  color: #cacaca;
  text-decoration: none;
  font-size: 22px;
  margin-right: 10px;
}
footer .fb .social-buttons a:hover {
  color: #eee;
}

.post {
        padding: 15px 0px;
        border-bottom: 1px dotted #ccc;
      }

img {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.widget h3 { display: block; background: #212121; color: #f1f1f1; text-transform: capitalize; border-radius: 5px; margin-bottom: 10px; text-align: center; padding: 5px 0px;}

.feat-img img { padding: 5px; border: 1px solid #ccc;}

.post:first-of-type { padding-top: 0px;}
.widget ul { margin-left: 0px;}
.widget ul li { list-style: none; font-size: 14px;}
.widget ul li a { display: block; padding: 5px 0px; color: #888; border-top: 1px dotted #ccc;}
.widget ul li a:hover { background: #fff; text-decoration: none; padding-left: 5px;}
/*  Font Awesome
    the iconic font designed for use with Twitter Bootstrap
    -------------------------------------------------------
    The full suite of pictographic icons, examples, and documentation
    can be found at: http://fortawesome.github.com/Font-Awesome/

    License
    -------------------------------------------------------
    The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
    http://creativecommons.org/licenses/by/3.0/ A mention of
    'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
    source code is considered acceptable attribution (most common on the web).
    If human readable source code is not available to the end user, a mention in
    an 'About' or 'Credits' screen is considered acceptable (most common in desktop
    or mobile software).

    Contact
    -------------------------------------------------------
    Email: dave@davegandy.com
    Twitter: http://twitter.com/fortaweso_me
    Work: Lead Product Designer @ http://kyruus.com

    */
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot');
  src: url('fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff') format('woff'), url('fonts/fontawesome-webfont.ttf') format('truetype'), url('fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*  Font Awesome styles
    ------------------------------------------------------- */
/*  Font Awesome styles
    ------------------------------------------------------- */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
a [class^="icon-"], a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: top;
  font-size: 1.3333333333333333em;
}
.btn [class^="icon-"], .btn [class*=" icon-"] {
  /* keeps button heights with and without icons the same */

  line-height: .9em;
}
li [class^="icon-"], li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li .icon-large[class^="icon-"], li .icon-large[class*=" icon-"] {
  /* 1.5 increased font size for icon-large * 1.25 width */

  width: 1.875em;
}
li[class^="icon-"], li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}
li[class^="icon-"]:before, li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}
li[class^="icon-"].icon-large:before, li[class*=" icon-"].icon-large:before {
  text-indent: -1.3333333333333333em;
}


/* Twitter status */

.icon-twitter-sign:before {
  content: "\f081";
}
.icon-facebook-sign:before {
  content: "\f082";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-github:before {
  content: "\f09b";
}

#cover{
  width:180px;
  height: 118px;
}