body{
    padding-bottom: 40px;
    padding-top: 60px;
    position: relative;
}
@media (max-width:1024px){
    #content h1 {
        font-size: 31px;
    }
    #content h2 {
        font-size: 26px;
    }
    #content h3 {
        font-size: 21px;
    }
}
@media (max-width:768px){
    #content h1 {
        font-size: 28px;
    }
    #content h2 {
        font-size: 23px;
    }
    #content h3 {
        font-size: 18px;
    }
}
@media (max-width:768px){
    #content h1 {
        font-size: 28px;
    }
    #content h2 {
        font-size: 23px;
    }
    #content h3 {
        font-size: 18px;
    }
}
@media (max-width:480px){
    #content h1 {
        font-size: 26px;
    }
    #content h2 {
        font-size: 21px;
    }
    #content h3 {
        font-size: 16px;
    }
}
#site-name:hover{
    color: #fff;
}
.welcome-message{
    margin-right:10px;
    margin-top:10px;
}