/*login stuff*/
body{
    padding-top: 120px;
}

#login-form{
    text-align: center;
}
.submit{
    display: block;
    margin: 0 auto 0 auto !important;
}
.errornote{
    margin-bottom: 35px;
}
.forgotten-password{
    text-align: center;
}
#content-main .well-wrapper-form{
    margin: 0px auto;
    float: none;
    position: relative; 
}

.logo-admin{
    margin:0 auto 20px auto;
    display: block;
}
#login-form .control-group{
    display: inline;
}
.link-site-name{
    position: absolute;
    right: 5px;
    bottom: -8px;
}
#login-form legend{
    color: #888;
}
